In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn import preprocessing


import utility_functions as fn

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Basic idea here:
1. Create a new dataframe with hourly index from start to end above, like the weather data
2. Add the following features for each row:

    1. hour of day (23) <br/>
    2. season (3) <br />
    3. weekday (1) <br />
    4. Yale class in session (1) <br />
    5. Yale offices operating (1) <br />

In [2]:
start = '2013-01-01 00:00:00'
end = '2019-02-10 00:00:00'

dates = pd.DataFrame(index=pd.DatetimeIndex(start=start, end=end, freq='H'))

In [3]:
for i in range(1,24):
    dates['hr'+str(i)] = np.array([i]*len(dates))
    dates.loc[:,'hr'+str(i)] = (dates.loc[:,'hr'+str(i)].values == np.asarray(dates.index.hour)).astype(int)
    
dates.head()

,hr1,hr2,hr3,hr4,hr5,hr6,hr7,hr8,hr9,hr10,...,hr14,hr15,hr16,hr17,hr18,hr19,hr20,hr21,hr22,hr23
2013-01-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 01:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 02:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 03:00:00,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 04:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# this is horribly broken, im sure it can be done better somehow

# dates['spring'] = np.array([0]*len(dates))
# dates['summer'] = np.array([0]*len(dates))
# dates['autumn'] = np.array([0]*len(dates))

for i in range(1,12):
    if i == 3 or 4 or 5:
        dates.loc[:,'spring'] = np.array([i]*len(dates))
        dates.loc[:,'spring'] = (dates.loc[:,'spring'].values == np.asarray(dates.index.month)).astype(int)
    if i == 6 or 7 or 8:
        dates.loc[:,'summer'] = np.array([i]*len(dates))
        dates.loc[:,'summer'] = (dates.loc[:,'summer'].values == np.asarray(dates.index.month)).astype(int)
    if i == 9 or 10 or 11:
        dates.loc[:,'autumn'] = np.array([i]*len(dates))
        dates.loc[:,'autumn'] = (dates.loc[:,'autumn'].values == np.asarray(dates.index.month)).astype(int)


dates.sample(n=20)

,hr1,hr2,hr3,hr4,hr5,hr6,hr7,hr8,hr9,hr10,...,hr20,hr21,hr22,hr23,spring,summer,autumn,weekday,class,office
2018-08-17 22:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2013-12-21 21:00:00,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2014-02-28 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-02-29 09:00:00,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-14 05:00:00,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-12-22 04:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-08-19 12:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-02-07 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-03-30 08:00:00,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-03-16 11:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-10-02 02:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-02-15 01:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-06-30 21:00:00,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2018-03-24 11:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-11-23 15:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
2013-07-28 04:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-07 01:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-30 10:00:00,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2017-08-16 06:00:00,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-05-13 12:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dates['weekday'] = np.array([0]*len(dates))

dates['class'] = np.array([0]*len(dates))

dates['office'] = np.array([0]*len(dates))

dates.head(3)

,hr1,hr2,hr3,hr4,hr5,hr6,hr7,hr8,hr9,hr10,...,hr20,hr21,hr22,hr23,spring,summer,autumn,weekday,class,office
2013-01-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 01:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 02:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0